/*Style Kontakt Seite - Aufbau flexbox Elemente*/
body {
    margin: 0px;
    padding: 0px;
    display: flex; /*Übergeordnetes Element*/
    flex-direction: column; /*Anordnung der untergeordneten Elemente (Navigation/Main/Footer) column= vertikal gestapelt*/
}

main {
    display: flex; /*Übergeordnetes Element*/
    flex-direction: column;
    justify-content: center; /*Untergeordnete Elemente (div und form) in Horinzontale Linie in der Mitte anorden*/
    width: 100%;
    align-self: center;
}

.left {
    border-radius: 10px 0px 0px 10px;
    height: auto;
    width: 100%;
    height: 20%;
    display: block;
}

.left img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

form {
    display: flex; /*Übergeordnetes Element*/
    justify-content: center; /*Inhalte zentrieren*/
    flex-direction: column; /*Inhalte untereinander auflisten*/
    padding: 30px;
}

/*Style contact-sent page*/

.sent {
    color: aquamarine;
    box-shadow: none;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: center;
}

.sent img {
    height: 30%;
}

.sent h3 {
    text-align: center;
    margin: 0px;
}

.sent p {
    text-align: center;
}

.sent a {
    text-align: center;
}

/*Style ipad und Desktop contact-sent page*/
@media (min-width: 768px) {
    .sent {
        height: 550px;
    }

    .sent img {
        height: 40%;
        margin-bottom: -30px;
    }
}

/*Style ende contact-sent page*/

/*Responsive für ipad - grösser als 768px überschreibt der untenstehende code den obigen Style*/
@media (min-width: 768px) {
    main {
        display: flex; /*Übergeordnetes Element*/
        flex-direction: row;
        justify-content: center; /*Untergeordnete Elemente (div und form) in Horinzontale Linie in der Mitte anorden*/
        width: 90%;
        align-self: center;
        border-radius: 10px;
        border-color: var(--UI);
        box-shadow: 5px 10px 18px var(--UI);
        margin-top: 4%;
        padding: 0%;
    }

    .left {
        height: auto;
        width: 40%;
        display: block;
    }

    .left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 0px 0px 10px;
    }

    form {
        width: 60%;
        padding: 5% 8% 5% 5%;
    }

    button {
        width: 40%;
        padding: 15px;
    }
}

/*Responsive für desktop - grösser als 1080px überschreibt der untenstehende code den obigen Style*/
@media (min-width: 1080px) {
    main {
        display: flex; /*Übergeordnetes Element*/
        flex-direction: row;
        justify-content: center; /*Untergeordnete Elemente (div und form) in Horinzontale Linie in der Mitte anorden*/
        width: 80%;
        align-self: center;
        border-radius: 10px;
        border-color: var(--UI);
        box-shadow: 5px 10px 18px var(--UI);
        margin-top: 4%;
        padding: 0%;
    }

    .left {
        border-radius: 10px 0px 0px 10px;
        height: auto;
        width: 50%;
        display: block;
    }

    .left img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px 0px 0px 10px;
    }

    form {
        width: 50%;
        padding: 5% 10% 5% 5%;
    }

    button {
        width: 40%;
        padding: 20px;
    }
}

/*Style Elemente*/
form label {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #000000;
}

form input {
    border-width: 0px 0px 1px 0px;
    border-color: var(--UI);
    padding-bottom: 8px;
    padding-top: 8px;
}

form textarea {
    border-width: 1px 1px 1px 1px;
    border-radius: 4px;
    border-color: var(--UI);
    padding: 8px 10px 8px 10px;
    resize: vertical;
}
