.hero {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Packages Style Mobile*/
h2 {
    text-align: center;
    margin-bottom: 40px; /* Abstand zur Containerbox */
    color: black;
    font-size: 2rem; /* Optional: größere Schrift */
}

.container-packages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10%;
    border-radius: 10px;
    border-color: var(--UI);
}

.packages {
    width: 100%;
    margin-top: 5%;
    padding-bottom: 10%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardimg {
    width: 100%;
    height: 200px;
}
.packages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

/*Packages section Style Liste*/
.packages li {
    display: flex;
    padding: 5px;
}

/*Packages Checkbox Gutzeichen*/
.packages .checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary);
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Packages Checkbox Kreuz*/
.packages .checkbox::before {
    content: "✔";
    font-size: 12px;
    color: var(--primary);
}

.packages .checkbox-2 {
    width: 20px;
    height: 20px;
    border: 2px solid var(--SBB_red);
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.packages .checkbox-2::before {
    content: "x";
    font-size: 14px;
    color: var(--SBB_red);
}
/*Ende Style Liste*/

/*Style ipad*/
@media (min-width: 768px) {
    .hero {
        margin-bottom: 4%;
    }
    .container-packages {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5%;
    }

    .packages {
        width: 32%;
        margin-top: 2%;
        padding-bottom: 5%;
    }
    .cardimg {
        width: 100%;
        height: auto;
    }
    .packages img {
        height: 150px;
    }

    .packages ul li {
        align-items: center;
    }

    /*Packages Checkbox Gutzeichen*/
    .packages .checkbox {
        width: 15px;
        height: 15px;
        align-items: center;
    }
    .packages .checkbox::before {
        font-size: 10px;
    }

    /*Packages Checkbox Kreuz*/
    .packages .checkbox-2 {
        width: 15px;
        height: 15px;
        align-items: center;
    }
    .packages .checkbox-2::before {
        font-size: 12px;
    }
}

/*Style Desktop*/
@media (min-width: 1080px) {
    .hero {
        margin-bottom: 4%;
    }

    .container-packages {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0%;
    }
    .packages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;
        margin: 0% 1%;
        padding-bottom: 2%;
        align-items: center;
    }

    .packages:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .cardimg {
        width: 100%;
        height: auto;
    }

    .packages img {
        height: 250px;
    }

    /*Packages Checkbox Gutzeichen*/
    .packages .checkbox {
        width: 20px;
        height: 20px;
        align-items: center;
    }
    .packages .checkbox::before {
        font-size: 12px;
    }

    /*Packages Checkbox Kreuz*/
    .packages .checkbox-2 {
        width: 20px;
        height: 20px;
        align-items: center;
    }
    .packages .checkbox-2::before {
        font-size: 14px;
    }
}
